/* 定位 */
.asideRight{
position: fixed;
right: 0;
width: 84px;
z-index: 999;
top: 150px;
}
/* 基本样式 */
.asideRight ul li a{
  color:#959595;
  font-size: 14px;
  vertical-align: middle;
  line-height: 15px;
}
.asideRight ul li a>.iconfont{
  font-size: 26px;
}
.asideRight ul li{
  text-align: center;
  background-color: white;
  width: 84px;
  margin-bottom:4px;
  line-height: 80px;
  border: 1px solid rgb(245, 245, 245);
  position: relative;
}

.afterSaleDetail{
  padding-bottom:20px;
}
/* 缓动返回顶部 */
html, body { scroll-behavior:smooth; }
/* hover效果 */
.asideRight ul li:hover a{
  color: #FF6700;
}
.asideRight li:first-child::before{
  content: '';
  position: absolute;
  background: url('../125.png') no-repeat;
  background-size: 85px 100px;
  width: 84px;
  height: 100px;
  left: -91px;
  display: none;
  opacity: 0;
  transition: .3s;
  border:  1px solid rgb(245, 245, 245);
}
.asideRight li:first-child::after{
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: -8px;
  border-top:6px solid rgba(0, 0, 0, 0);
  border-right:6px solid rgba(0, 0, 0, 0) ;
  border-left:  6px solid  white;
  border-bottom:6px solid rgba(0, 0, 0, 0);
  transition: .3s;
  opacity: 0;
  display: none;
}
.asideRight li:first-child:hover::before,.asideRight li:first-child:hover::after{
  display: inline-block;
  opacity: 1;

}
