.side-bottom{
  width: 1226px;
  margin: 0 auto;
}
footer .afterSale{
border-bottom: 1px solid #E0E0E0;
}
footer .afterSale li{
  display: inline-block;
  width: 240px;
  text-align: center;
  font-size: 1rem;
  line-height: 80px;
  position: relative;
}
footer .afterSale li a{
color: rgb(108, 97, 90);
}
footer .afterSale li:not(:nth-last-child(1))::after{
  content: '|';
  color: #E0E0E0;
  position: absolute;
  left: 240px;
}
footer .afterSaleDetail>li {
    display: inline-block;
    width: 160px;
}
footer .afterSaleDetail>li a{
  color: #424242;
  font-size: 14px;
  line-height: 80px;
}
footer .afterSaleDetail>li>ul>li>a {
    color: #757575;
    font-size: 12px;
    line-height: 25px;
}
/* 右侧联系框 */
footer .tel{
  display: inline-block;
  text-align: center;
  width: 235px;
  border-left: 1px solid #E0E0E0;
}
footer .tel span{
  font-size: 22px;
  color: #FF6700;
  line-height: 36px;
}
footer .tel .Customer-service{
  width: 120px;
  height: 30px;
  font-size: 12px;
  color: #FF6700;
  border: 1px solid #FF6700;
  margin: 16px auto 0px;
  padding-top:5px ;
  display: inline-block;
}
/* 侧边栏 */
