/* ͼƬ */
.page-main .nav>a img {
  /* position: relative; */
  margin-top: 20px;
  width: 1226px;
  height: 120px;
}
.box-hd{
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  width: 1226px;
  height: 58px;
  position: relative;
}
.box-hd .title{
  float: left;
}
.more{
float: right;
height: 60px;
}
.more>a{
color: black;
vertical-align: middle;
top: 0;
bottom: 0;
margin: 0 auto;
font-size: 18px;
transition: .3s;
}

 /* .more a span{
color: rgb(176, 176, 176);
font-size: 20px;
top: 0;
bottom: 0;
margin: 0 auto;
} */
.box-hd .more>a:hover{
  color: rgb(255, 103, 0);
}
/* 选购栏布局 */
.main-content >  .long-img img{
  width: 234px;
  height: 614px;
}
/* 长图左移 半脱离常规流，方便右侧选购栏排布*/
.main-content > .long-img{
  float: left;
}
.main-content{
position: relative;
}
.main-content .content-list{
  width: 992px;
  height: 614px;
  float: right;
}
.content-list li img{
  width: 160px;
  height: 160px;
  margin: 0 37px 18px;
}
.main-content li:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
  transform: translate3d(0,-2px,0);
}
.content-list li{
  margin: 0 0 14px 14px;
  padding: 20px 0;
  width: 234px;
  height: 300px;
  float: left;
  text-align:center;
  background-color: white;
}
.main-content li{
  transition: .3s;
}
.content-list li a>p:nth-of-type(1){
color: #333333;
margin: 0 10px 2px;
font-size: 14px;
}
.content-list li a>p:nth-of-type(2){
color: #b0b0b0;
margin: 0 10px 10px;
font-size: 12px;
}
.content-list li a>p:nth-of-type(3){
color: #FF6700;
margin: 0 10px 14px;
font-size: 14px;
}
.content-list li a>p:nth-of-type(3) del{
    color: #b0b0b0;
}
/* 左侧短图片 */
.short-img img{
  width:234px;
  height: 300px;
  margin: 0;
  padding: 0;
}
.short-img{
  float: left;
}
.short-img li:first-child{
  margin-bottom: 14px;
}
.main-content >  ul:first-child{
  height: 614px;
}
/* 顶部选择栏 */
.main .box-hd .more>ul{
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main .box-hd .more>ul>li{
  font-size: 16px;
  margin-left:30px;
}
.main .box-hd .more>ul>li>span{
transition:color .1s;
}
.main .box-hd .more>ul>li:hover>span{
  border-bottom: 2px solid #FF6700;
  color: #FF6700;
}
/* 多选栏主页 */
 .new-goods  h2{
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
 .new-goods .bar-left {
  width: 234px;
  float: left;
}
/* 指定左侧img浮起样式 */
 .new-goods .bar-left li{
  float: left;
  transition: all .2s linear;
  margin-bottom: 14px;
}
 .new-goods .bar-left li:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transform: translate3d(0, -2px, 0);
}
 .new-goods .bar-left img{
  vertical-align: top;
}
 .new-goods .bar-right > li > ul > li:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transform: translate3d(0, -2px, 0);
}

/* 右侧菜单选项与作为子元素的商品列表*/
 .new-goods .bar-right {
  float:right;
  position: relative;
}
 .new-goods .bar-right > li {
  float: left;
  transition: .2s;
}
 .new-goods .bar-right * {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* 导航右侧padding为0 */
 .new-goods .bar-right > li:last-child span {
  padding-right:0px;
}
 .new-goods .bar-right > li {
  height: 58px;
}

 .new-goods .bar-right > li > ul {
  position: absolute;
  right: 0;
  top: 100%;
  width: 992px;
}
/* 商品列表的样式 */
 .new-goods .bar-right > li > ul >li {
  width: 234px;
  height: 300px;
  float: left;
  padding:20px 0;
  background-color: white;
  margin-left: 14px;
  margin-bottom: 14px;
  transition: all .2s linear;
  position: relative;
}
/* 商品列表右下角*/
.new-goods .bar-right li.small {
  height: 143px;
  padding-right: 120px;
  padding-left: 30px;

}
.new-goods .bar-right li.small a.name,
.new-goods .bar-right li.small .price {
  text-align: left;
}

.new-goods .bar-right li.small a.img{
  position: absolute;
  right: 13px;
  top: 32px;
}
.new-goods .bar-right li.viewmore {
  height: 143px;
  padding: 40px 26px;
  position: relative;
}

/* “浏览更多”  */
.new-goods .bar-right li.viewmore  div {
  float: left;
  font-size: 18px;
  color: #333333;
  margin-top: 10px;
}
.new-goods .bar-right li.viewmore  div .items {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #757575;
  padding-top: 5px;
}
.new-goods .bar-right li.viewmore .iconfont {
  float: right;
  font-size: 55px;
  color: #ff6700;
}
.new-goods  .bar-right li .price {
  font-size: 14px;
  color: #ff6700;
  margin-top: 10px;
}
.new-goods  .bar-right li .price .del {
  display: inline;
  text-decoration: line-through;
  color: #b0b0b0;
}
.new-goods  .bar-right li .description{
  font-size: 12px;
  color: #b0b0b0;
  margin-top:1px;
}
.new-goods  .bar-right li .name {
  font-size: 14px;
  color: #333333;
  margin-top: 18px;
}
/*
//现在已经无商品评价栏
.new-goods .bar-right li .comment-c {
  margin: 10px 0;

}
.new-goods .bar-right li .comment {
  height: 0;
  overflow: hidden;
  width: 100%;
  padding:0 20px;
  text-align-last: left;
  position: absolute;
  bottom: 0;
  background-color: #ff6700;
  color: #fff;
  font-size: 12px;
  transition: all .2s linear;
}

.new-goods .bar-right>li>ul>li:hover  .comment {
  height: 78px;
} */
.new-goods .bar-right li .user span {
  display: inline-block;
}
.new-goods .bar-right li .user  {
  color: rgba(255,255,255,.6);
  font-size: 12px;
}

/* hover */

.new-goods .bar-right > li > span {
  vertical-align: middle;
  font-size: 16px;
  padding-right:12px;
  padding-left:12px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.new-goods .bar-right > li:hover {
    color: #ff6700;
}
.new-goods .bar-right > li >span{
  margin-top: 14px;
}
/* hover时出现下划线 */
.new-goods .bar-right > li:hover >span p{
    border-bottom: 2px solid #FF6700;
}
/* 延迟效果*/
.new-goods .bar-right:hover >li >ul {
  transition: none;
}
.new-goods .bar-right > li ul{
  z-index: -1;
}
.new-goods .bar-right > li:first-child >ul{
z-index: 1;
}
.new-goods .bar-right > li >ul{
  transition:z-index 0s 1000000s;
}
.new-goods .bar-right > li:hover >ul{
  z-index: 10;
}



/* video */
.video-item{
  display: flex;
  flex-direction: row;
}
.video-item>li{
  width: 296px;
  height: 285px;
  margin: 0 0 14px 14px;
  background-color: #fff;
}
.video-item>li:first-child{
  margin: 0 0 14px;
}
.video-item>li{
text-align: center;
position: relative;
cursor: pointer;
}
.video-item>li span{
  display: inline-block;
  margin-top: 35px;
  font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
.video-item>li .iconfont{
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  top: 106px;
  left: 20px;
  color: #fff;
  padding: 0px 6px;
  border: 2px solid white;
  border-radius: 45%;
  transition: .2s;
}
.video-item>li:hover .iconfont{
  border:2px solid #FF6700;
  background-color: #FF6700;
}
