
    @media (max-width: 1080px) {
      .hero {
        height: 640px;
      }
      .hero-bottom li{
        width:50%;
      }
    }
  @media (max-width:640px){
    .hero-bottom li{
      width:100%;
    }
    .hero-content{
      display: inline-block;
    }
  }
